.footer {
  background-color: var(--primary-color);
  color: #fff;
  text-align: center;
  padding: 1.5rem 0;
  margin-top: 3rem;
  font-size: 0.85rem;
}

.footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  margin: 0;
}

@media (min-width: 768px) {
  .footer {
    padding: 2rem 0;
    margin-top: 4rem;
    font-size: 0.9rem;
  }
}
